body {
  counter-reset: part;
}

.article.show-part {
  .article__inner {
    .block:first-of-type .block__inner{
      position: relative;

      &::before {
        content: "Часть " counter(part);
        counter-increment: part;
        position: absolute;
        top: 75px;
        left: 10px;
        font-size: 14px;
        color: #7c7c7c;
      }
    }
  }

  &.figures {
    position: relative;
  }

  &:last-of-type .block:last-of-type {
    padding-bottom: 50px;
  }

  &.has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

  &__header-inner {
    .l-container-padding(@article-header-padding-ver, @article-header-padding-hoz);
  }

  &__title {
    position: relative;
    .article-title;
    color: @heading-color;
  }

  &__body {
    margin-bottom: @article-body-margin;
  }

  &__instruction {
    margin-bottom: @article-instruction-margin;
    .instruction-text;
  }

  &__body a,
  &__instruction a {
    .link-text;
  }

  &.gray {
    background-color: @light-gray;
  }

  &.dark {
    background-color: @dark;

    .component:not(.pageNav) {
      color: white !important;
      background-color: transparent;
    }

    //filter: invert(1) hue-rotate(210deg);
  }

  &.green-grad {
    background: @green-grad;
  }

  &.green-blue-grad {
    background: @green-blue-grad;
  }

  &.green-yellow-grad {
    background: @green-yellow-grad;
  }

  &.opace-grad {
    position: relative;
    background: white;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: @blue-green-grad;
      opacity: 0.3;
    }
  }

  &.blue-mint-grad {
    background-image: @blue-mint-grad;
  }

  &.blue-green-grad {
    background-image: @blue-green-grad;
  }
}
