<div class="iframe-inner component-inner" role="region" aria-label="{{_globals._components._text.ariaRegion}}">
    {{> component this}}
    <div class="iframe-container">
        <iframe src={{this._src}}></iframe>
    </div>
</div>