@font-color: #4d4d4d;
@font-color-inverted: #ffffff;
@heading-color: #36cde8;
@heading-color-inverted: #ffffff;
@item-color: #ffffff;
@item-color-inverted: #ffffff;
@visited-inverted: #ffffff;
@btn-color: #4d4d4d;
@btn-color-inverted: #ffffff;
@disabled: #dddddd;
@validation-success-inverted: #ffffff;
@validation-error-inverted: #ffffff;
@progress: #81efa6;
@progress-inverted: #ffffff;
@progress-border: #81efa6;
@nav: #ffffff;
@nav-inverted: #9096a0;
@notify: #36cde8;
@notify-inverted: #ffffff;
@drawer-inverted: #ffffff;
@background-inverted: #ffffff;
@shadow-inverted: #ffffff;
@light-gray: #f6f6f6;
@dark: #232323;
@green-grad: linear-gradient(180deg, rgba(167, 244, 193, 0.8) 0.08%, rgba(167, 244, 193, 0.15) 99.89%);
@green-blue-grad: linear-gradient(180deg, rgba(140, 233, 220, 0.6) 2.43%, rgba(150, 240, 186, 0.15) 93.48%);;