@font-color: #4d4d4d;
@font-color-inverted: #ffffff;
@heading-color: #36cde8;
@heading-color-inverted: #ffffff;
@item-color: #ffffff;
@item-color-inverted: #ffffff;
@visited-inverted: #ffffff;
@btn-color: #4d4d4d;
@btn-color-inverted: #ffffff;
@disabled: #dddddd;
@validation-success-inverted: #ffffff;
@validation-error-inverted: #ffffff;
@progress: #81efa6;
@progress-inverted: #ffffff;
@progress-border: #81efa6;
@nav: #ffffff;
@nav-inverted: #9096a0;
@notify: #36cde8;
@notify-inverted: #ffffff;
@drawer-inverted: #ffffff;
@background-inverted: #ffffff;
@shadow-inverted: #ffffff;
@light-gray: #f6f6f6;
@dark: #232323;
@radio-gray: #c4c4c4;
@green-grad: linear-gradient(180deg, rgba(167, 244, 193, 0.8) 0.08%, rgba(167, 244, 193, 0.15) 99.89%);
@green-blue-grad: linear-gradient(180deg, rgba(140, 233, 220, 0.6) 2.43%, rgba(150, 240, 186, 0.15) 93.48%);
@green-yellow-grad:linear-gradient(194.3deg, rgba(235, 239, 21, 0.8) -7.98%, rgba(0, 194, 255, 0.8) 118.6%);
@green-tab-grad: linear-gradient(0deg, #42E3B4 0%, #8EEED2 100%);
@green-tab-180-grad: linear-gradient(180deg, #42E3B4 0%, #8EEED2 100%);
@blue-mint-grad: linear-gradient(180deg, rgba(0, 102, 255, 0.8) 0%, rgba(1, 103, 254, 0.8) 6.67%, rgba(2, 106, 252, 0.8) 13.33%, rgba(5, 112, 249, 0.8) 20%, rgba(10, 120, 244, 0.8) 26.67%, rgba(15, 131, 238, 0.8) 33.33%, rgba(22, 143, 230, 0.8) 40%, rgba(29, 157, 222, 0.8) 46.67%, rgba(37, 172, 213, 0.8) 53.33%, rgba(44, 186, 205, 0.8) 60%, rgba(51, 198, 197, 0.8) 66.67%, rgba(56, 209, 191, 0.8) 73.33%, rgba(61, 217, 186, 0.8) 80%, rgba(64, 223, 183, 0.8) 86.67%, rgba(65, 226, 181, 0.8) 93.33%, rgba(66, 227, 180, 0.8) 100%);
@green-tab: #96F0BA;
@gray-text: #9D9D9D;
@shadow-full: 0px 0px 20px rgba(0, 0, 0, 0.15);
@pin-hover: #ADFDC8;
@top-notify: #68D2BB;
@green-button: #42E3B4;
