<div class="btn__container">
	<div class="btn__response-container">
	  <button class="btn-text btn__action js-btn-action is-disabled" aria-label="{{ariaLabel}}" disabled="disabled">{{{buttonText}}}</button>
	</div>
</div>
