.sber-icon {
  &-top, &-left {
    display: flex;
    justify-content: flex-start;

    img:first-child {
      min-width: auto;
    }
  }

  &-top {
    flex-direction: column;
    align-items: flex-start;
  }
}

.sber-icon-wrap {
  .sber-icon-top, .sber-icon-left {
    @media (max-width: @device-width-small) {
      flex-wrap: wrap;

      img {
        margin-bottom: 20px;
      }
    }
  }
}
