<div class="component__inner sber-iframe__inner">
  {{> component this}}

  <div class="sber-iframe__container">
    <button class="btn-text sber-iframe__control">{{{_buttonText}}}</button>
  </div>

</div>
