.sber-dragndrop {
  &__inner {
    padding: 70px;
    border-radius: 5px;
    box-shadow: @shadow-full;
    background-color: white;
  }

  &__question {
    &-container {
      margin-bottom: 50px;
    }

    &-text {
      .component-title;
      margin-bottom: 35px;
    }

    &-instructions {
      margin-bottom: 40px;
    }

    &-answers-container {
      display: flex;
      flex-wrap: wrap;
    }

    &-answer-placeholder {
      position: relative;
      min-width: 134px;
      max-width: 45%;
      min-height: 50px;
      margin-right: 20px;
      padding: 20px;
      background-color: @light-gray;
      border-radius: 5px;
      box-sizing: border-box;

      span {
        display: block;
      }

      &.not-empty span {
        display: none;
      }

      .sber-dragndrop__answers-answer {
        margin: 0;
      }

      @media (max-width: @device-width-small) {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__answers {
    &-container {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
    }

    &-title {
      width: 100%;
      margin-bottom: 30px;
      text-align: left;
    }

    &-answer {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      border-radius: 5px;
      background-color: @green-button;
      box-sizing: border-box;
      cursor: move;

      @media (max-width: @device-width-small) {
        margin-right: 0;
      }
    }
  }

  .ignore {
    order: -1;
  }

  .style-second {
    .sber-dragndrop__question {
      &-answers-container {
        justify-content: center;
      }

      &-answer-placeholder {
        &:last-of-type {
          margin-right: 0;
        }

        .sber-dragndrop__answers-answer {
          margin-bottom: 20px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    .sber-dragndrop__answers-answer {
      max-width: 24%;

      @media (max-width: @device-width-medium) {
        max-width: 48%;
      }

      @media (max-width: @device-width-small) {
        max-width: 100%;
      }
    }
  }

  .btn__action {
    margin: 0 !important;
  }

  .btn__feedback {
    display: none;
  }
}
