<div class="component__inner sber-yes-no__inner">
  {{> component this}}

  <div class="btn__container sber-yes-no__buttons">
    <button data-answer="yes" class="btn-text sber-yes-no__yes">{{yes_button}}</button>
    <button data-answer="no" class="btn-text sber-yes-no__no">{{no_button}}</button>
  </div>

</div>
