<div class="navigation-logo__inner{{#if _fillNavHeight}} is-fill{{/if}}">
  <img class="navigation-logo__image" src="{{_graphic.src}}" {{#if _graphic.alt}}aria-label="{{_graphic.alt}}" {{else}}aria-hidden="true" {{/if}}>
</div>
