<div class="component__inner scenarioOutcome__widget__inner">
  {{> component}}
  <div class="scenarioOutcome__widget__btn-container">
    {{#each _buttons}}
      {{> scenarioOutcome-item this}}
    {{/each}}
  </div>
</div>
