<div class="component__inner sber-downloader__inner">
  {{> component this}}

  <div class="file-info">
    <div class="component__body">{{{file_description}}}</div>
    <div class="sber-downloader-size">{{file_size}}</div>
  </div>
  <a href="{{file}}" target="_blank" class="sber-downloader__button">Скачать</a>
</div>
