.sber-matching {
  counter-reset: question answer;

  &__inner {
    padding: 70px;
    border-radius: 5px;
    box-shadow: @shadow-full;
    background-color: white;
    margin-bottom: 80px;

    @media (max-width: @device-width-small) {
      padding: 30px;
    }
  }

  &__main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__questions-container, &__answers-container {
    width: 49%;

    @media (max-width: @device-width-small) {
      width: 100%;
    }
  }

  &__questions-container {
    @media (max-width: @device-width-small) {
      margin-bottom: 40px;
    }
  }

  .item {
    position: relative;
    width: 100%;
    padding: 12px 20px 12px 10px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 3px solid #000000;
    cursor: pointer;

    @media (max-width: @device-width-small) {
      margin-bottom: 10px;
    }
  }

  .btn__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    button:last-of-type {
      margin: 0;
    }
  }

  .badge {
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    padding: 0px 5px;
    font-size: 10px;
    border: 2px solid;
    border-radius: 15px;
  }
}
