{{#if displayTitle}}
<div class="hotspot-menu-item-title">{{{compile displayTitle}}}</div>
{{/if}}
{{#if duration}}
<div class="hotspot-menu-item-duration">{{{_globals._menu._hotspotMenu.durationLabel}}}{{{duration}}}</div>
{{/if}}
<div class="hotspot-menu-item-progress">
	<div class="hotspot-menu-item-progress-inner"></div>
</div>
