<div class="menu-tooltip">{{{displayTitle}}}</div>
<button class="base carousel-menu-item-indicator-button">
    <div class="carousel-menu-item-indicator-button-inner menu-item-inner"></div>
</button>
